/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!../common-app-module/style/reset.css ***!
  \******************************************************************************************************************/
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio, summary):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/less-loader/dist/cjs.js!./public/style/main.less ***!
  \*********************************************************************************************************************************************/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
:root {
  --wrapper-bg-color: #121212;
  --content-bg-color: #141414;
  --text-color: #fff;
  --line-color: #252527;
  --accent-color: #C1A87D;
  --error-color: #FF0000;
  --warning-color: #FFA500;
  --success-color: #00FF00;
  --popup-bg-color: rgba(0, 0, 0, 0.5);
  --button-bg-color: rgba(193, 168, 125, 0.12);
  --hover-color: rgba(193, 168, 125, 0.12);
  --disable-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  background-color: var(--wrapper-bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  container-type: inline-size;
}
p {
  line-height: 1.6em;
}
a {
  cursor: pointer;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
::placeholder {
  color: var(--disable-color);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
}
button.component {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: var(--accent-color);
  line-height: 1em;
  gap: 8px;
}
button.component.disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}
button.component.contained {
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background-color: var(--button-bg-color);
}
button.component > .title {
  text-transform: capitalize;
}
.nav-bar.component {
  position: fixed;
  left: calc(50% - 1280px / 2);
  top: 0;
  z-index: 999990;
  width: 90px;
  height: 100%;
  background-color: var(--wrapper-bg-color);
  border-right: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  overflow-y: auto;
}
@container (width < 1280px) {
  .nav-bar.component {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: calc(90px + env(safe-area-inset-bottom));
    padding-bottom: calc(6px + env(safe-area-inset-bottom));
    border-top: 1px solid var(--line-color);
    border-right: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 0;
    overflow-y: visible;
  }
  .nav-bar.component::before,
  .nav-bar.component::after {
    content: '';
  }
}
.nav-bar.component > h1.logo {
  padding: 21px 0;
}
@container (width < 1280px) {
  .nav-bar.component > h1.logo {
    display: none;
  }
}
.nav-bar.component > h1.logo > a > img {
  max-width: 55px;
  max-height: 55px;
}
.nav-bar.component > a.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  font-size: 12px;
}
.nav-bar.component > a.menu > .icon {
  font-size: 42px;
}
.nav-bar.component > a.menu.active {
  color: var(--accent-color);
}
.splash-screen.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-screen.component > img {
  max-width: 120px;
  max-height: 120px;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: var(--popup-bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.popup.component {
  max-width: 614px;
  width: 90%;
  margin: auto;
  border: 1px solid var(--line-color);
  border-radius: 16px;
  background-color: var(--content-bg-color);
}
.popup.component > header {
  display: flex;
  align-items: center;
  padding: 24px;
}
.popup.component > header > h1 {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.popup.component > main {
  padding: 0 24px;
}
.popup.component > footer {
  padding: 24px;
  display: flex;
  justify-content: flex-end;
}
@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner.component:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  border-color: var(--text-color) transparent var(--text-color) transparent;
  animation: loading-spinner-animation 1.2s linear infinite;
}
.dropdown-menu.component {
  position: fixed;
  z-index: 999998;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  min-width: 120px;
  overflow: hidden;
}
.dropdown-menu.component > ul {
  display: flex;
  flex-direction: column;
}
.dropdown-menu.component > ul > li > button {
  padding: 8px 12px;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
}
.dropdown-menu.component > ul > li > button:hover {
  background-color: var(--accent-color);
}
.snackbar.component {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 999998;
  width: 100%;
}
@container (width < 1280px) {
  .snackbar.component {
    bottom: calc(110px + env(safe-area-inset-bottom));
  }
}
.snackbar.component > main {
  max-width: 532px;
  width: 90%;
  margin: auto;
  background-color: var(--content-bg-color);
  border: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  border-radius: 19px;
  padding-left: 20px;
  gap: 8px;
}
.snackbar.component > main > p {
  flex-grow: 1;
}
.error-alert.component > header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input.component > textarea,
.input.component > input {
  width: 100%;
  border: 1px solid var(--line-color);
  background-color: var(--content-bg-color);
  padding: 8px 12px;
  border-radius: 6px;
}
.input.component > textarea:focus,
.input.component > input:focus {
  border: 1px solid var(--accent-color);
}
.select.component {
  position: relative;
  border: 1px solid var(--line-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  cursor: pointer;
}
.select.component > .value {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  line-height: 1em;
  text-transform: capitalize;
}
.select.component > .value:empty::before {
  content: attr(data-empty-message);
}
.select.component > .option-container {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 1;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  min-width: 120px;
}
.select.component > .option-container > .option {
  padding: 8px 12px;
  text-transform: capitalize;
}
.select.component > .option-container > .option:hover {
  background-color: var(--accent-color);
}
.select.component.open {
  border: 1px solid var(--accent-color);
}
.select.component.open > .option-container {
  display: block;
}
.checkbox.component {
  position: relative;
  height: 27px;
  width: 27px;
}
.checkbox.component > .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
}
.checkbox.component > .checkmark:after {
  display: none;
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--accent-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox.component > input:checked ~ .checkmark {
  background-color: #fff;
}
.checkbox.component > input:checked ~ .checkmark:after {
  display: block;
}
.file-drop-area.component.highlight {
  outline: 2px dotted var(--primary-color);
}
.rich-display.component:empty {
  display: none;
}
.rich-display.component > .image-container > a {
  cursor: pointer;
}
.rich-display.component > .image-container > a > img {
  border-radius: 12px;
  max-height: 320px;
  object-fit: cover;
}
.post-display.sofi-component {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 20px;
  /*@media @phone {
        gap: 6px;
    }*/
}
.post-display.sofi-component > main {
  flex-grow: 1;
}
.post-display.sofi-component .author-avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  cursor: pointer;
}
.post-display.sofi-component .author {
  padding-top: 4px;
  display: flex;
  gap: 4px;
}
.post-display.sofi-component .author > .name {
  font-weight: 700;
  cursor: pointer;
}
.post-display.sofi-component .author > .x-username {
  color: #595959;
  cursor: pointer;
}
.post-display.sofi-component button.owner-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.post-display.sofi-component .message {
  margin-top: 6px;
}
.post-display.sofi-component .rich-display {
  margin-top: 20px;
}
.post-display.sofi-component .date {
  margin-top: 20px;
  color: #595959;
  font-size: 12px;
}
.post-display.sofi-component .actions {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.post-display.sofi-component .actions > button {
  display: flex;
  gap: 16px;
  cursor: pointer;
  align-items: center;
}
.post-thread.sofi-component > .post-display,
.post-thread.sofi-component > .post-form {
  border-bottom: 1px solid #242424;
}
:root {
  --wrapper-bg-color: #0A0A0A;
  --content-bg-color: #131313;
  --text-color: #fff;
  --line-color: #242424;
  --accent-color: #9B4CFF;
  --popup-bg-color: rgba(0, 0, 0, 0.5);
  --button-bg-color: rgba(155, 76, 255, 0.12);
  --hover-color: rgba(155, 76, 255, 0.12);
  --surface-bg-color: #252527;
}
.layout {
  height: 100%;
  overflow-y: auto;
}
.layout > main {
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 56px;
  padding-left: 90px;
  padding-bottom: 120px;
  background-color: var(--content-bg-color);
  border-right: 1px solid var(--line-color);
}
@container (width < 1280px) {
  .layout > main {
    width: 100%;
    padding-left: 0;
    padding-bottom: calc(120px + 90px + env(safe-area-inset-bottom));
    border-right: none;
  }
}
.title-bar {
  position: fixed;
  left: calc(50% - 1280px / 2 + 90px);
  top: 0;
  width: calc(1280px - 90px - 1px);
  height: 56px;
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--line-color);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 999990;
}
@container (width < 1280px) {
  .title-bar {
    left: 0;
    width: 100%;
  }
}
.side-panel {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: var(--popup-bg-color);
}
.side-panel > main {
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  height: 100%;
  border-left: 1px solid var(--line-color);
  background-color: var(--content-bg-color);
}
.asset-display {
  display: flex;
  align-items: center;
  gap: 8px;
}
.asset-display > h4 {
  color: var(--accent-color);
  font-weight: bold;
}
.asset-display > .amount {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}
.asset-display > .amount > .symbol {
  font-size: 12px;
  color: var(--disable-color);
}
.asset-list {
  padding-left: 16px;
  container-type: inline-size;
}
.asset-list::after {
  content: '';
  display: table;
  clear: both;
}
.asset-list > .asset-list-item {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}
.asset-list-item {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
@container (width < 432px) {
  .asset-list-item {
    width: calc(50% - 16px);
  }
}
.asset-list-item.selected {
  outline: 1px solid var(--accent-color);
}
.asset-list-item > main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 6px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.asset-list-item > main > h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}
.asset-list-item > main > .chain-logo-container {
  display: flex;
}
.asset-list-item > main > .chain-logo-container > img {
  margin-right: -2px;
  width: 16px;
  height: 16px;
}
.asset-list-item > main > .checkbox {
  position: absolute;
  top: 16px;
  right: 16px;
}
.token-list {
  padding-left: 16px;
}
.token-list::after {
  content: '';
  display: table;
  clear: both;
}
.token-list > .token-list-item {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}
.token-list:empty::before {
  content: attr(data-empty-message);
  color: var(--disable-color);
}
.token-list-item {
  min-width: 320px;
}
.token-list-item.invalid > .form > .input {
  color: var(--error-color);
  font-weight: bold;
}
.token-list-item.nft {
  cursor: pointer;
}
.token-list-item.nft > .info {
  border-radius: 16px;
}
.token-list-item.nft,
.token-list-item.multi-token {
  width: 120px;
  border-radius: 16px;
}
.token-list-item.nft.selected,
.token-list-item.multi-token.selected {
  outline: 1px solid var(--accent-color);
}
.token-list-item > .info {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.token-list-item > .info > main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.token-list-item > .info > main > h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
}
.token-list-item > .info > main > h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: var(--disable-color);
}
.token-list-item > .form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.token-list-item.multi-token > .form {
  padding: 10px 12px;
}
.wallet-display {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--line-color);
  border-radius: 19px;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}
.wallet-display:hover {
  background-color: var(--accent-color);
}
.wallet-display > .avatar {
  width: 26px;
  height: 26px;
}
.wallet-display > .name {
  font-size: 14px;
  font-weight: bold;
}
.connect-klaytn-wallet-popup {
  max-width: 420px !important;
}
.connect-klaytn-wallet-popup > main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.klip-qr-popup {
  max-width: 420px !important;
}
.klip-qr-popup > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.klip-qr-popup > main > .qr > img {
  border-radius: 6px;
}
.klip-qr-popup > main > p {
  text-align: center;
}
.bridge-view {
  padding: 32px 16px;
  max-width: 912px;
  margin: auto;
}
@container (width < 1280px) {
  .bridge-view {
    padding: 16px;
  }
}
.bridge-view > .steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.bridge-view > .steps > .step-display.step-1 {
  padding-right: 0;
  padding-bottom: 0;
}
.bridge-view > .steps > .step-display.step-2 > main,
.bridge-view > .steps > .step-display.step-3 > main {
  display: none;
}
.bridge-view.asset-selected > .steps > .step-display.step-2 > main {
  display: flex;
}
.bridge-view.asset-selected.chain-selected > .steps > .step-display.step-3 > main {
  display: block;
}
.step-display {
  border-radius: 16px;
  background-color: var(--surface-bg-color);
  display: flex;
  flex-direction: column;
}
.step-display > header {
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.step-display > header > .step-number {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.step-display > header > h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.select-chains {
  container-type: inline-size;
}
.select-chains > main {
  padding: 0 16px 16px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@container (width < 432px) {
  .select-chains > main {
    flex-direction: column;
  }
  .select-chains > main > a {
    transform: rotate(90deg);
  }
}
.select-chains > main > .chain-selector {
  width: 50%;
}
@container (width < 432px) {
  .select-chains > main > .chain-selector {
    width: 100%;
  }
}
.chain-selector {
  padding: 16px;
  background-color: var(--content-bg-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.execute-bridge > main > .action-container {
  padding: 0px 16px 16px 16px;
  display: flex;
  gap: 12px;
}
.execute-bridge > main > .activity-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.execute-bridge > main > .activity-container > h3 {
  color: var(--accent-color);
}
.execute-bridge > main > .activity-container > main {
  overflow-x: auto;
}
.execute-bridge > main > .activity-container > main > .activity-list {
  min-width: 400px;
  width: 100%;
  background-color: var(--content-bg-color);
  border-radius: 8px;
}
.activity-list {
  text-transform: capitalize;
  font-size: 12px;
  color: #ccc;
}
.activity-list > thead > tr > th {
  border-bottom: 1px solid var(--line-color);
  padding: 12px;
  font-weight: bold;
  color: #fff;
}
.activity-list > tbody:empty::before {
  content: attr(data-empty-message);
  color: var(--disable-color);
  padding: 8px 12px;
}
.activity-list > tbody > tr > td {
  border-bottom: 1px solid var(--line-color);
  padding: 8px 12px;
  vertical-align: middle;
}
.activity-list > tbody > tr > td.asset {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.activity-list > tbody > tr > td.status.pending {
  color: var(--warning-color);
}
.activity-list > tbody > tr > td.status.received {
  color: var(--success-color);
}
.activity-list > tbody > tr > td.status > main {
  display: flex;
  align-items: center;
  gap: 4px;
}
.activity-list > tbody > tr > td.from > main,
.activity-list > tbody > tr > td.to > main {
  display: flex;
  align-items: center;
  gap: 8px;
}
.activity-list > tbody > tr > td.from > main > .chain-logo,
.activity-list > tbody > tr > td.to > main > .chain-logo {
  width: 16px;
  height: 16px;
}
.activity-list > tbody > tr > td.send-tx > button,
.activity-list > tbody > tr > td.receive-tx > button {
  padding: 6px 8px;
}
.activity-list > tbody > tr > td.send-tx > button > .icon,
.activity-list > tbody > tr > td.receive-tx > button > .icon {
  font-size: 20px;
}
.activity-list > tbody > tr > td.tokens > main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.activity-list > tbody > tr > td.retry > button > .title > .loading-spinner:after {
  width: 12px;
  height: 12px;
}
.filtered-activity-list th.asset,
.filtered-activity-list td.asset,
.filtered-activity-list th.from,
.filtered-activity-list td.from,
.filtered-activity-list th.sender,
.filtered-activity-list td.sender,
.filtered-activity-list th.to,
.filtered-activity-list td.to,
.filtered-activity-list th.receiver,
.filtered-activity-list td.receiver {
  display: none;
}
.history-view {
  padding: 32px 16px;
}
@container (width < 1280px) {
  .history-view {
    padding: 16px;
    width: 100%;
    overflow-x: auto;
  }
}
.history-view > .activity-list {
  margin: auto;
  width: 1158px;
}

