.history-view {
    padding: 16px;

    >.select-chains {
        border-radius   : 16px;
        background-color: var(--surface-bg-color);
        padding-top     : 16px;
        margin-bottom   : 16px;
    }

    >.activity-list-container {
        @container (width < @safe-width) {
            width     : 100%;
            overflow-x: auto;
        }

        >.activity-list {
            margin: auto;
            width : 1158px;
        }
    }
}