.bridge-view {
    padding: 16px;

    >.steps {
        display       : flex;
        flex-direction: column;
        gap           : 16px;

        >.step-display.step-1 {
            padding-right : 0;
            padding-bottom: 0;
        }

        >.step-display.step-2>main,
        >.step-display.step-3>main {
            //TODO: display: none;
        }
    }

    &.asset-selected {
        >.steps {
            >.step-display.step-2>main {
                display: flex;
            }
        }
    }
}