.step-display {
    border        : 1px solid var(--line-color);
    border-radius : 16px;
    padding       : 16px;
    display       : flex;
    flex-direction: column;
    gap           : 16px;

    >header {
        display    : flex;
        gap        : 16px;
        align-items: center;

        >.step-number {
            width           : 32px;
            height          : 32px;
            border-radius   : 16px;
            background-color: var(--accent-color);
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-size       : 16px;
            font-weight     : bold;
        }

        >h3 {
            font-size  : 16px;
            font-weight: bold;
        }
    }
}